@using BlazorApp.TechResourceManagement.Pages.Authentication

@inherits LayoutComponentBase

@inject NavigationManager Navigation

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </article>
        <footer class="footer mt-auto py-3 bg-white border-top">
            <div class="row">
                <div class="col-md-3 text-center align-self-center">
                    <img src="https://i.ibb.co/16R1yzg/logo-login.webp" class="img-fluid d-md-inline w-50 d-none" />
                    <small class="d-block mb-3 text-center text-muted ">&copy; @DateTime.Now.AddYears(-1).ToString("yyyy") - @DateTime.Now.ToString("yyyy")</small>
                </div>
                <div class="offset-md-6 col-md-3">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="team">Team</a></li>
                        <li><a class="text-muted" href="https://github.com/duiliomamani/DSI_TechnologyResourceManagement" target="_blank">Source Code</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>
</div>
