@using BlazorApp.TechResourceManagement.Bussiness
@using BlazorApp.TechResourceManagement.Domain
@using BlazorApp.TechResourceManagement.Pages.Home.Components
@using System.ComponentModel.DataAnnotations

@inject NavigationManager _navigationManager
@inject IGestorRTRT _gestorRTRT

@page "/reserveTurn"

@if (tiposRecursoTecnologicos == null)
{
    <Loading />
}
else
{
    <h3>Index.ReserveTurn</h3>
    <EditForm Model="@modelData" OnValidSubmit="SendDto" class="row g-3">
        <div class="col-12">
            <div class="form-group">
                <label for="Dni">Tipo de Recurso Tecnologico: </label>
                <InputSelect id="tiposRecursosTecnologico" @bind-Value="@tpSeleccionado" class="form-select">
                    <option value="0">TODAS</option>
                    @for (var i = 1; i <= tiposRecursoTecnologicos.Count; i++)
                    {
                        <option value="@i">@tiposRecursoTecnologicos[i-1].MostrarCategoria()</option>
                    }
                </InputSelect>
            </div>
        </div>
    </EditForm>
}

@code {

    public class ModelData { }
    
    public int? tpSeleccionado { get; set; }

    private IList<TipoRecursoTecnologico> tiposRecursoTecnologicos { get; set; }

    private ModelData modelData { get; set; } = new ModelData();

    //Metodo Inicilizador de la Pantalla
    protected override async Task OnInitializedAsync()
    {
        //Dependencia al GestorRTRT se inyecta arriba @inject
        tiposRecursoTecnologicos = await _gestorRTRT.buscarTipoRecursoTecnologico();
    }

    public void SendDto()
    {
    }
}
