@using BlazorApp.TechResourceManagement.Bussiness
@using BlazorApp.TechResourceManagement.Domain

@inject GestorRTRT _gestorRTRT

@if (gridTurnos != null)
{
    <div class="container-fluid">
        <div class="px-3 py-4">
            <RadzenScheduler @ref=@scheduler SlotRender=@OnSlotRender style="height: 768px;" TItem="Turno" Data=@gridTurnos StartProperty="FechaHoraInicio" EndProperty="FechaHoraFin"
                         SelectedIndex="1" TextProperty="TextDisplay"
                         SlotSelect=@OnSlotSelect AppointmentSelect=@SolicitarSeleccionTurno AppointmentRender=@OnAppointmentRender>
                <RadzenWeekView />
                <RadzenMonthView />
            </RadzenScheduler>
        </div>
    </div>
}

@code {
    [Parameter]
    public IList<Turno> gridTurnos { get; set; }

    [Parameter]
    public EventCallback<(string, Turno, RecursoTecnologico)> OnShowDialogCallback { get; set; }

    private RadzenScheduler<Turno> scheduler;

    private async Task SolicitarConfirmacionTurno(Turno turno, RecursoTecnologico recursoTecnologico)
    {
        await OnShowDialogCallback.InvokeAsync(("Informacion Reserva Turno", turno, recursoTecnologico));
    }

    public async void ActualizarSchulder()
    {
        await scheduler.Reload();
    }

    //Render Schulder
    public void OnSlotRender(SchedulerSlotRenderEventArgs args)
    {
        // Highlight today in month view
        bool poseeTurno = gridTurnos.Any(turno => turno.FechaHoraInicio.Date == args.Start.Date && turno.EstoyDisponible());
        if (args.View.Text == "Month" && poseeTurno)
        {
            args.Attributes["class"] = "bg-primary bg-gradient";
        }
        else
        {
            args.Attributes["class"] = "bg-danger bg-gradient";
        }

        // Highlight working hours (9-18)
        if ((args.View.Text == "Week" || args.View.Text == "Day"))
        {
            if (args.Start.Hour > 8 && args.Start.Hour < 19 && poseeTurno)
            {
                args.Attributes["class"] = "bg-primary bg-gradient";
            }
            else if (args.Start.Hour > 8 && args.Start.Hour < 19 && !poseeTurno)
            {
                args.Attributes["class"] = "bg-danger bg-gradient";
            }
            else
            {
                args.Attributes["class"] = "bg-secondary bg-gradient";
            }
        }
    }
    //Render Schulder
    public void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<Turno> args)
    {
        // Never call StateHasChanged in AppointmentRender - would lead to infinite loop
        args.Attributes["title"] = $"{args.Data.FechaHoraInicio.ToString("dd-MM-yyyy HH:mm")}-{args.Data.FechaHoraFin.ToString("dd-MM-yyyy HH:mm")}";

        switch (args.Data.MostrarTurno().MostrarEstadoActual().Nombre)
        {
            case "Disponible":
                args.Attributes["class"] = "mb-2 bg-primary bg-gradient border rounded text-white";
                break;
            case "PendienteConfirmacion":
                args.Attributes["class"] = "mb-2 bg-secondary bg-gradient border rounded text-white";
                break;
            case "Reservado":
                args.Attributes["class"] = "mb-2 bg-danger bg-gradient rounded border text-white";
                break;
        }
    }

    public async Task OnSlotSelect(SchedulerSlotSelectEventArgs args)
    {
        return;
    }

    // Seleccion del turno
    public async Task SolicitarSeleccionTurno(SchedulerAppointmentSelectEventArgs<Turno> args)
    {
        //Toma la seleccion del turno del schulder
        await this.TomarSeleccionTurno(args.Data);
        return;
    }

    private async Task TomarSeleccionTurno(Turno turno)
    {
        //voy a Seleccionar el turno dentro del gestor y lo voy a mostrar
        var ret = _gestorRTRT.TomarTurno(turno);

        if (ret.Keys.First())
        {

            var recursoSeleccionado = ret.Values.First().Item1;
            var turnoSeleccionado = ret.Values.First().Item2;
            await SolicitarConfirmacionTurno(turnoSeleccionado, recursoSeleccionado);
        }
    }
}