@page "/team"

<h3>BARGAS, Catriel 76175 - candresbargas@gmail.com</h3>
<h3>CHAVEZ RAMIREZ, Camila - 71805 - camichavezramirez@gmail.com</h3>
<h3>GIAIMO, Gino - 78426 - gino_giaimo@live.com.ar</h3>
<h3>MAMANI, Duilio - 80744 - duiliomamani@gmail.com</h3>
<h3>MOLINA, Stefania - 62927 - stefaniaalejandramolina13@gmail.com</h3>
<h3>SPITALE, Angelo Fabrizio - 61002 fabrizio.angelo.spitale@gmail.com</h3>
<h3>VARGAS, Rony - 74289 - vargasrony97@gmail.com</h3>

@code {

}
